<header>BinReverser#input</header>
<%= form_tag('/bin_reverser/view',
             method: 'post',
             remote: true,
             'data-type': :json,
             authenticity_token: true,
             id: 'm_form') do %>
    <%= label_tag 'M: ' %>
    <%= text_field_tag :m, nil, type: 'number', required: true %>
    <br/>
    <%= submit_tag 'Submit' %>
<% end %>

<div class="div-table" id="result" style="display: none">
  <!-- display:none is removed by JS -->
  <div id="status" class="caption">Result:</div>
  <div class="hide-on-fail row head">
    <div class="cell">M </div>
    <div class="cell">M (binary) </div>
    <div class="cell">N (binary) </div>
    <div class="cell">N </div>
  </div>
  <div class="hide-on-fail row code-font">
    <div class="cell" id="m"></div>
    <div class="cell" id="m_bin"></div>
    <div class="cell" id="n_bin"></div>
    <div class="cell" id="n"></div>
  </div>
</div>