.form-row-wrapper>label, .form-row-wrapper>input {
    display: block;
}

.form-row-wrapper {
    padding: 3px;
}

.cart-block {
    margin: 10px;
}

span.quantity {
    padding-left: 3px;
    padding-right: 3px;
}

.hidden {
    visibility: hidden;
}