<header class="header">
  <nav>
    <ul class="nav nav-pills float-right">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to @current_user.username, @current_user, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', signin_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </nav>
  <%= link_to 'Bin Reverser', root_path, class: 'navbar-brand' %>
</header>